node_modules/
.env
.env.*
!.env.example

dist/
build/
out/
.next/
.vercel/

.npm/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db

.vscode/
.idea/
*.suo
*.swp
*.sln
.vercel
